@model PetGrooming.Models.ViewModels.UpdatePet


@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<a href="/Pet/List">Back to List</a>
<form action="/Pet/Update/@Model.pet.PetID" method="POST">
    <div class="row">
        <div class="col-sm-1">Name:</div>
        <div class="col-sm-1">
            <input type="text" value="@Model.pet.PetName" id="PetName" name="PetName" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">Color:</div>
        <div class="col-sm-1">
            <input type="text" value="@Model.pet.Color" id="PetColor" name="PetColor" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">Weight:</div>
        <div class="col-sm-1">
            <input type="text" value="@Model.pet.Weight" id="PetWeight" name="PetWeight" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">Species:</div>
        <div class="col-sm-1">
            <select name="SpeciesID" id="SpeciesID">
                @{
                    //Rendering Loop
                    foreach (var species in Model.species)
                    {
                        string selected = "";
                        if (species.SpeciesID == Model.pet.SpeciesID)
                        {
                            selected = "selected";
                        }
                        <option value="@species.SpeciesID" @selected>@species.Name</option>
                    }
                }
            </select>
        </div>
    </div>  
    <div class="row">
        <div class="col-sm-1">Notes:</div>
        <div class="col-sm-1">
            <textarea id="PetNotes" name="PetNotes">@Model.pet.Notes</textarea>
        </div>
    </div>
    <div class="row col-sm-1">
        <input type="submit" value="update pet" />
    </div>
</form>